@media (max-width: 768px) {}

@media (min-width: 768px) {}

/* body and text */

body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--bg-dark);
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    transition: background-color 1.2s ease-in-out, color 1.2s ease;

    /* cores de texto */
    --text-white: #E6EBE0;
    --text-dark: #39393A;

    /* cores de fundo */
    --bg-light: #E6EBE0;
    --bg-dark: #39393A;

    /* cores de destaque */
    --bg-light-purple: #9A9CBC;
    --bg-dark-purple: #464672;

    /*button hover effects */
    --color-main: #464672;
    --color-main-second: #9A9CBC;
    --color-main-third: #39393A;

}

body.dark {
    /* cores de texto invertidas*/
    --text-white: #39393A;
    --text-dark: #E6EBE0;

    /* cores de fundo invertidas*/
    --bg-light: #39393A;
    --bg-dark: #E6EBE0;

    /* cores de destaque invertidas*/
    --bg-light-purple: #464672;
    --bg-dark-purple: #9A9CBC;

    /*button hover effects inverted */
    --color-main: #464672;
    --color-main-second: #9A9CBC;
    --color-main-third: #E6EBE0;

}

p {
    color: var(--text-dark);
    font-family: 'Urbanist', sans-serif;
    word-spacing: -2%;
}

h1 {
    color: var(--text-dark);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

h2 {
    color: var(--text-dark);
}

h3 {
    color: var(--text-dark);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
}

/* cursor */

.cursor {
    mix-blend-mode: exclusion;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 5;
}

/* navbar */

.navbar {
    max-block-size: 10vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
}
.navbar-content {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 5px;
    min-height: inherit;
}

.navbar-element {
    background-color: var(--bg-light);
    border-radius: 2ch;
    overflow-y: hidden;
}

.navbar-logo {
    text-align: center;
    padding: 0;
    font-size: 2rem;
    line-height: 0%;
    justify-content: center;
}

.navbar-text {
    text-align: center;
    padding: 0;
    font-size: 2rem;
    line-height: 0%;
    justify-content: center;
}

.navbar span {
    color: var(--text-dark);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 5px;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 25fr 1fr;
}

.sidebar-left {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-light);
    border-radius: 0ch 2ch 2ch 0ch;
    margin-left: 0;
}

.sidebar-right {
    width: 100%;
    height: stretch;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-light);
    border-radius: 2ch 0ch 0ch 2ch;
    margin-right: 0;
}

/* hero */

.hero {
    position: relative;
    width: 100%;
    height: 95vh;
    margin: 0 auto;
    padding: 0%;
}

.hero-content {
    position: relative;
    width: 100%;
    height: 95vh;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 2ch;
    padding: 0;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-image {
    width: 110%;
    position: relative;
}

.hero-text-container {
    width: 100%;
    text-align: left;
    position: relative;
    display: block;
}

.hero-text-container h3 {
    font-size: 2vw;
    line-height: 0%;
}

.hero-text-container h1 {
    font-size: 4.2vw;
    line-height: 10%;
    word-spacing: -3%;
}

.hero-text-container p {
    font-size: 4.2vw;
    line-height: 25%;
    font-weight: 500;
}

.hero-text-container span {
    box-shadow: 15px 0 0 0 --bg-light-purple, -5px 0 0 0 --bg-light-purple;
    background: var(--bg-light-purple);
    display: inline;
    padding: 1px 0 !important;
}

/* about */

.about {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.about-content {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2ch;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
}

.about-element {
    background-color: var(--bg-light);
    border-radius: 1ch;
    overflow: hidden;
}

.about-element img {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.about-element h3 {
    font-size: 1.8vw;
    line-height: 0%;
    text-align: left;
    margin-left: 1rem;
}

.about-element p {
    width: 80%;
    font-size: 1.3vw;
    font-weight: 500;
    word-spacing: -2%;
    text-align: left;
    margin-left: 1rem;
}

.headline {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2ch;
}

.headline h1 {
    text-align: center;
    line-height: 0%;
    font-size: 5.5vw;
}

.headline span {
    box-shadow: 15px 0 0 0 --bg-light-purple, -5px 0 0 0 --bg-light-purple;
    background: var(--bg-light-purple);
    display: inline;
    padding: 3px 0 !important;
}

.headline-braile {
    font-size: 6rem;
    margin-top: 1ch;
    line-height: 0%;
}

/* about expanded */

.about-expanded {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.aboutex-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2ch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    min-height: inherit;
}

.aboutex-element-bento-row {
    margin: 0 auto;
    padding: 0;
    background-color: var(--bg-light);
}

.aboutex-element {
    background-color: var(--bg-dark);
    border-radius: 2ch;
}

.aboutex-center,
.aboutex-left,
.aboutex-right {
    height: inherit;
    overflow-y: contain;
    display: grid;
    position: relative;
    flex-direction: column;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 0;
    overflow: hidden;
}

.aboutex-left,
.aboutex-right {
    gap: 0;
}

.aboutex-right img {
    top: -3rem;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.aboutex-left img {
    top: -3rem;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.bdr {
    border-radius: 2ch;
}

.img-aboutex-center {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.img-aboutex-center img {
    object-fit: cover;
    border-radius: 2ch;
}

.aboutex-element h3 {
    font-size: 1.8vw;
    line-height: 0%;
    text-align: left;
    margin-left: 1rem;
}

.aboutex-element p {
    width: 80%;
    font-size: 1.3vw;
    font-weight: 500;
    word-spacing: -2%;
    text-align: left;
    margin-left: 1rem;
}

.aboutex-left h3 {
    margin-top: -5rem;
}

/* ajuda */

.ajuda {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.ajuda-content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 2ch;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    min-height: inherit;
}

.ajuda-element {
    border-radius: 2ch;
    overflow-x: hidden;
    overflow-y: hidden;
}

.img-ajuda-center {
    height: 100vh;
    margin: 0 auto;
    margin-left: -10rem;
}

.ajuda-right {
    height: inherit;
    overflow-y: contain;
    display: grid;
    position: relative;
    flex-direction: column;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    padding: 0;
    overflow: hidden;
}

.ajuda-element-container {
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.ajuda-element h3 {
    font-size: 1.8vw;
    line-height: 0%;
    margin-left: 1rem;
}

.ajuda-element p {
    width: 90%;
    text-wrap: balance;
    font-size: 1.3vw;
    font-weight: 500;
    word-spacing: -2%;
    margin-left: 1rem;
}

/*button hover effects thanks to Bogdan on codepen - codepen.io/Quiddlee/pen/MWPbKxg */

.ajuda button {
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Urbanist', sans-serif;
    background-color: transparent;
    color: var(--bg-light);
    border-radius: 2ch;
    padding: 0.5ch 2.5ch 0.5ch 2.5ch;
    border: none;
    position: relative;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    height: 4rem;
    width: 20rem;
}

.btn {
    position: relative;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
}

.btn:hover .btn__bg {
    scale: 0.94;
}

.btn:hover .btn__text-out {
    transition: transform 1s cubic-bezier(0.32, 0.99, 0.49, 0.99), opacity 0.4s;
    transform: translateY(-33.333333%);
    opacity: 0;
}

.btn:hover .btn__text-in {
    transition: 1s all cubic-bezier(0.32, 0.99, 0.49, 0.99);
    transform: translateY(0);
    opacity: 1;
}

.btn:hover .btn__bg__layer-first,
.btn:hover .btn__bg__layer-second,
.btn:hover .btn__bg__layer-third {
    border-radius: 60% 60% 0 0;
    transform: translateY(1rem);
}

.btn:hover .btn__bg__layer-first {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 200ms, border-radius 0.2s cubic-bezier(0.19, 1, 0.22, 1) 270ms;
}

.btn:hover .btn__bg__layer-second {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 300ms, border-radius 0.2s cubic-bezier(0.19, 1, 0.22, 1) 470ms;
}

.btn:hover .btn__bg__layer-third {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 380ms, border-radius 0.2s cubic-bezier(0.19, 1, 0.22, 1) 670ms;
}

.btn__text-out,
.btn__text-in {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 10;
}

.btn__text-in {
    opacity: 0;
    transform: translateY(33.333333%);
}

.btn__bg {
    height: inherit;
    width: inherit;
    transition: scale 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--color-main-third);
    border-radius: 999rem;
    overflow: hidden;
}

.btn__bg__layer {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    translate: -50%;
    border-radius: 999rem 999rem 0 0;
    border: none;
    width: 120%;
    height: 200%;
    z-index: 20;
    transform: translateY(100%) translateX(0);
}

.btn__bg__layer-first {
    background-color: var(--color-main);
}

.btn__bg__layer-second {
    background-color: var(--color-main-second);
}

.btn__bg__layer-third {
    background-color: var(--color-main-third);
}

/* footer */

footer {
    height: 40vh;
    width: 100%;
    background-color: var(--bg-dark);
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow-y: hidden;
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.footer-1 {
    position: relative;
    width: 100%;
    display: flex;
    height: 40vh;
}

.footer-1 img {
    width: 80%;
}

.footer-2 {
    position: relative;
    width: 100%;
    display: flex;
    height: 40vh;
    margin: 0 auto;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-2 p{
    color: var(--text-white);
    font-weight: 500;
    font-size: 2.5vw;
    width: 75%;
    text-align: right;
    margin: 0 auto;
}

.footer-2 span {
    box-shadow: 15px 0 0 0 --bg-light-purple, -5px 0 0 0 --bg-light-purple;
    background: var(--bg-dark-purple);
    display: inline;
    padding: 3px 0 !important;
}

.icones{
    gap: 1rem;
    margin: 0 auto;
    justify-content: flex-end;
    width: 75%;
    height: 5vh;
    display: flex;
    position: relative;
}

.portifolio :hover{
    rotate: 360deg;
    transition: rotate 3s ease-in-out;
    animation-iteration-count: infinite;
}